<h1>DB Setup(postgresql): Core 방식, ORM 방식 아님</h1>
<section>
  <h3>DB 연결 및 테이블 생성, 주입</h3>
  <h4>sqlalchemy 1.3.2 기준</h4>
  <pre>from sqlalchemy import create_engine, MetaData
from sqlalchemy import Table, Column, String, insert, Integer, ForeignKey

engine = create_engine('postgresql://postgres:1234@192.168.219.101:5432/mydb', echo=True)
metadata = MetaData()

# create table
users = Table('users', metadata,
  Column('id', Integer, primary_key=True),
  Column('name', String(30)),
  Column('fullname', String(50))
)
addresses = Table('addresses', metadata,
  Column('id', Integer, primary_key=True),
  Column('user_id', Integer, ForeignKey('users.id', ondelete='CASCADE')),
  Column('email_address', String(100), nullable=False)
)
metadata.create_all(engine)  </pre>
</section>