{% extends 'base/auth_base.html' %}

{% block title %} MY Topic app {% endblock %}
{% block header %}
 Users List
{% endblock %}
  
{% block content %}
  <div class="link-list temp-list">
    <a href="/apps/users/create">Create User</a>
    <a href="/apps/users/">HOME</a>
  </div>
  <form action="/apps/users/create" method="POST">
    firstname: <input type="text" name="firstname" placeholder="firstname"><br>
    lastname:<input type="text" name="lastname" placeholder="lastname"><br>
    <input type="text" name="email" placeholder="email">
    <input type="submit" value="Create">
  </form>
{% endblock %}