.topic-list {
  justify-content: start;
}
.topic-list a {
  background-color: var(--c-green);
  color: white;
}

.users-list {
  display: flex;
  align-items: center;
  gap:10px;
}

.blog-list, .todo-list {
  display:flex;
  justify-content: space-between;
  border: 1px solid var(--c-border);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.todo-item  {
  display: flex;
  flex:1 1 20px;
  justify-content: start;
  align-items:baseline;
  gap: 10px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}