.temp-list {
  justify-content: start;
}
.temp-list a {
  background-color: var(--c-green);
  color: white;
}

.users-list {
  display: flex;
  align-items: center;
  gap:10px;
}

.pagenation {
  display: flex;

}
.pagenation a.page-link {
 border:none;
 text-align: center;
 margin: 0;
 padding: 0 2px;
 min-width: none;
}