<!doctype html>
<head>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" href="/static/favicon.ico">
  {% block import %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="navbar-container">
    {% include 'base/_navbar.html' %}
    <div class="sub-menu"></div>
  </div>

  <header>
    {% block header %}{% endblock %}
  </header>

  <main>
    {% for message in get_flashed_messages() %}
      <div class="flash-message">{{ message }} <span class="close"> X </span></div>
    {% endfor %}
    {% block content %}{% endblock %}
  </main>
  
  <button id="scrollTopBtn" title="맨 위로 이동">Top</button>

  {% block script %}{% endblock %}

  <script type="module">
    import { selectNavItems } from "/static/js/selectNav.js";
    import "/static/js/scrollTop.js"
    selectNavItems()

    document.querySelector(".flash-message")?.addEventListener("click", function() {
        this.remove();
    })
  </script>
</body>
</html>
    