{% extends 'base/auth_base.html' %}

{% block title %}MY Topic app{% endblock %}
{% block header %}
 Read topic
{% endblock %}
  
{% block content %}
<div class="link-list topic-list">
  {% for topic in topics %}
    <a class="action" href="/apps/topic/{{ topic.id }}">{{ topic.title }}</a>
  {% endfor %}
  <a class="action" href="/apps/topic/create">Create Topic</a>
</div>
  <hr>
  <h3>{{ topic.content}}</h3>
  <div class="link-list">
    <a href="/apps/topic/{{ topic.id }}/edit">Edit</a>
    <a href="/apps/topic/{{ topic.id }}/delete">Delete</a>

  </div>
{% endblock %}