{% extends 'base/base.html' %}

{% block import %}
<link rel="stylesheet" href="/static/css/module/table.css">
{% endblock %}

{% block title %} CSS {% endblock %}

{% block header %} CSS Colors {% endblock %}

{% block content %}
<table>
  <thead>
    <tr>
      <th style="text-align:center;">color </th>
      <th style="text-align:center;">color </th>
      <th style="text-align:center;">color </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <div style="width:300px;"><span style="background-color: #434343; width:60px; height:30px;display:inline-block"></span>
       <span>dark gray 4 #434343 </span></div>
      <div style="width:300px;"><span style="background-color: #666666; width:60px; height:30px;display:inline-block"></span>
       <span>dark gray 3 #666666</span></div>
      <div style="width:300px;"><span style="background-color: #999999; width:60px; height:30px;display:inline-block"></span>
       <span>dark gray 2 #999999</span></div>
      <div style="width:300px;"><span style="background-color: #b7b7b7; width:60px; height:30px;display:inline-block"></span>
       <span>dark gray 1 #b7b7b7</span></div>
      <div style="width:300px;"><span style="background-color: #cccccc; width:60px; height:30px;display:inline-block"></span>
       <span>gray #cccccc</span></div>
      <div style="width:300px;"><span style="background-color: #d9d9d9; width:60px; height:30px;display:inline-block"></span>
       <span>light gray 1 #d9d9d9</span></div>
      <div style="width:300px;"><span style="background-color: #efefef; width:60px; height:30px;display:inline-block"></span>
       <span>light gray 2 #efefef</span></div>
      <div style="width:300px;"><span style="background-color: #f3f3f3; width:60px; height:30px;display:inline-block"></span>
       <span>light gray 3 #f3f3f3</span></div>
      <div style="width:300px;"><span style="background-color: #ffffff; width:60px; height:30px;display:inline-block"></span>
       <span>white #ffffff</span></div>
    </td>
    <td>
      <div style="width:300px;"><span style="background-color: #ff0000; width:60px; height:30px;display:inline-block"></span>
       <span>red  #ff0000  </span></div>
      <div style="width:300px;"><span style="background-color: #660000; width:60px; height:30px;display:inline-block"></span>
       <span>dark red 3   #660000  </span></div>
      <div style="width:300px;"><span style="background-color: #990000; width:60px; height:30px;display:inline-block"></span>
       <span>dark red 2#990000  </span></div>
      <div style="width:300px;"><span style="background-color: #cc0000; width:60px; height:30px;display:inline-block"></span>
       <span>dark red 1 #cc0000  </span></div>
      <div style="width:300px;"><span style="background-color: #980000; width:60px; height:30px;display:inline-block"></span>
       <span>red berry #980000  </span></div>
      <div style="width:300px;"><span style="background-color: #85200c; width:60px; height:30px;display:inline-block"></span>
       <span>dark red berry 2  #85200c  </span></div>
      <div style="width:300px;"><span style="background-color: #a61c00; width:60px; height:30px;display:inline-block"></span>
       <span>dark red berry 1  #a61c00  </span></div>
      <div style="width:300px;"><span style="background-color: #cc4125; width:60px; height:30px;display:inline-block"></span>
       <span>light red berry 1 #cc4125  </span></div>
      <div style="width:300px;"><span style="background-color: #e06666; width:60px; height:30px;display:inline-block"></span>
       <span>light red 1  #e06666  </span></div>
      <div style="width:300px;"><span style="background-color: #ea9999; width:60px; height:30px;display:inline-block"></span>
       <span>light red 2  #ea9999  </span></div>
      <div style="width:300px;"><span style="background-color: #e6b8af; width:60px; height:30px;display:inline-block"></span>
       <span>light red berry 3 #e6b8af  </span></div>
      <div style="width:300px;"><span style="background-color: #f4cccc; width:60px; height:30px;display:inline-block"></span>
       <span>light red 3  #f4cccc  </span></div>
    </td>
    <td>
      <div style="width:300px;"><span style="background-color: #ff9900; width:60px; height:30px;display:inline-block"></span>
       <span>orang"e #ff9900  </span></div>
      <div style="width:300px;"><span style="background-color: #783f04; width:60px; height:30px;display:inline-block"></span>
       <span>dark orange 3 #783f04  </span></div>
      <div style="width:300px;"><span style="background-color: #b45f06; width:60px; height:30px;display:inline-block"></span>
       <span>dark orange 2 #b45f06  </span></div>
      <div style="width:300px;"><span style="background-color: #e69138; width:60px; height:30px;display:inline-block"></span>
       <span>dark orange 1 #e69138  </span></div>
      <div style="width:300px;"><span style="background-color: #f6b26b; width:60px; height:30px;display:inline-block"></span>
       <span>light orange 1 #f6b26b  </span></div>
      <div style="width:300px;"><span style="background-color: #f9cb9c; width:60px; height:30px;display:inline-block"></span>
       <span>light orange 2 #f9cb9c  </span></div>
      <div style="width:300px;"><span style="background-color: #fce5cd; width:60px; height:30px;display:inline-block"></span>
       <span>light orange 3  #fce5cd  </span></div>
    </td>
  </tr>
  
  <tr>
    <td>
      <div style="width:300px;"><span style="background-color: #ffff00; width:60px; height:30px; display:inli"ne-blocdisplay:inline-blockk></span>
       <span>yellow #ffff00  </span></div>
      <div style="width:300px;"><span style="background-color: #f1c232; width:60px; height:30px;display:inline-block"></span>
       <span>dark yellow 1 #f1c232  </span></div>
      <div style="width:300px;"><span style="background-color: #bf9000; width:60px; height:30px;display:inline-block"></span>
       <span>dark yellow 2 #bf9000 </span></div>
      <div style="width:300px;"><span style="background-color: #7f6000; width:60px; height:30px;display:inline-block"></span>
       <span>dark yellow 3 #7f6000  </span></div>
      <div style="width:300px;"><span style="background-color: #ffd966; width:60px; height:30px;display:inline-block"></span>
       <span>light yellow 1 #ffd966</span></div>
      <div style="width:300px;"><span style="background-color: #ffe599; width:60px; height:30px;display:inline-block"></span>
       <span>light yellow 2 #ffe599  </span></div>
      <div style="width:300px;"><span style="background-color: #fff2cc; width:60px; height:30px;display:inline-block"></span>
       <span>light yellow 3 #fff2cc </span></div>
    </td>
    <td>
      <div style="width:300px;"><span style="background-color: #00ff00; width:60px; height:30px; display:inli"ne-blocdisplay:inline-blockk></span>
       <span>green    #00ff00  </span></div>
      <div style="width:300px;"><span style="background-color: #93c47d; width:60px; height:30px;display:inline-block"></span>
       <span>light green 1 #93c47d</span></div>
      <div style="width:300px;"><span style="background-color: #b6d7a8; width:60px; height:30px;display:inline-block"></span>
       <span>light green 2 #b6d7a8</span></div>
      <div style="width:300px;"><span style="background-color: #d9ead3; width:60px; height:30px;display:inline-block"></span>
       <span>light green 3 #d9ead3</span></div>
      <div style="width:300px;"><span style="background-color: #6aa84f; width:60px; height:30px;display:inline-block"></span>
       <span>dark green 1 #6aa84f</span></div>
      <div style="width:300px;"><span style="background-color: #000000; width:60px; height:30px;display:inline-block"></span>
       <span>dark green 2 #38761d</span></div>
      <div style="width:300px;"><span style="background-color: #000000; width:60px; height:30px;display:inline-block"></span>
       <span>dark green 3 #274e13</span></div>
    </td>
    <td>
      <div style="width:300px;"><span style="background-color: #00ffff; width:60px; height:30px;display:inline-block"></span>
       <span>cyan #00ffff</span></div>
      <div style="width:300px;"><span style="background-color: #000000; width:60px; height:30px;display:inline-block"></span>
       <span>dark cyan 3 #0c343d</span></div>
      <div style="width:300px;"><span style="background-color: #000000; width:60px; height:30px;display:inline-block"></span>
       <span>dark cyan 2 #134f5c</span></div>
      <div style="width:300px;"><span style="background-color: #45818e; width:60px; height:30px;display:inline-block"></span>
       <span>dark cyan 1 #45818e</span></div>
      <div style="width:300px;"><span style="background-color: #76a5af; width:60px; height:30px;display:inline-block"></span>
       <span>light cyan 1 #76a5af</span></div>
      <div style="width:300px;"><span style="background-color: #a2c4c9; width:60px; height:30px;display:inline-block"></span>
       <span>light cyan 2 #a2c4c9</span></div>
      <div style="width:300px;"><span style="background-color: #d0e0e3; width:60px; height:30px;display:inline-block"></span>
       <span>light cyan 3 #d0e0e3</span></div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="width:300px;"><span style="background-color: #0000ff; width:60px; height:30px;display:inline-block"></span>
       <span>blue #0000ff</span></div>
      <div style="width:300px;"><span style="background-color: #000000; width:60px; height:30px;display:inline-block"></span>
       <span>dark blue 3 #073763</span></div>
      <div style="width:300px;"><span style="background-color: #0b5394; width:60px; height:30px;display:inline-block"></span>
       <span>dark blue 2 #0b5394</span></div>
      <div style="width:300px;"><span style="background-color: #3d85c6; width:60px; height:30px;display:inline-block"></span>
       <span>dark blue 1 #3d85c6</span></div>
      <div style="width:300px;"><span style="background-color: #6fa8dc; width:60px; height:30px;display:inline-block"></span>
       <span>light blue 1 #6fa8dc</span></div>
      <div style="width:300px;"><span style="background-color: #9fc5e8; width:60px; height:30px;display:inline-block"></span>
       <span>light blue 2 #9fc5e8</span></div>
      <div style="width:300px;"><span style="background-color: #cfe2f3; width:60px; height:30px;display:inline-block"></span>
       <span>light blue 3 #cfe2f3</span></div>
    </td>
    <td>
      <div style="width:300px;"><span style="background-color: #9900ff; width:60px; height:30px;display:inline-block"></span>
       <span>purple #9900ff  </span></div>
      <div style="width:300px;"><span style="background-color: #d9d2e9; width:60px; height:30px;display:inline-block"></span>
       <span>light purple 3 #d9d2e9  </span></div>
      <div style="width:300px;"><span style="background-color: #b4a7d6; width:60px; height:30px;display:inline-block"></span>
       <span>light purple 2 #b4a7d6  </span></div>
      <div style="width:300px;"><span style="background-color: #8e7cc3; width:60px; height:30px;display:inline-block"></span>
       <span>light purple 1 #8e7cc3  </span></div>
      <div style="width:300px;"><span style="background-color: #674ea7; width:60px; height:30px;display:inline-block"></span>
       <span>dark purple 1 #674ea7  </span></div>
      <div style="width:300px;"><span style="background-color: #351c75; width:60px; height:30px;display:inline-block"></span>
       <span>dark purple 2 #351c75  </span></div>
      <div style="width:300px;"><span style="background-color: #20124d; width:60px; height:30px;display:inline-block"></span>
       <span>dark purple 3 #20124d  </span></div>
    </td>
    <td>
      <div style="width:300px;"><span style="background-color: #ff00ff; width:60px; height:30px;display:inline-block"></span>
       <span>magenta #ff00ff  </span></div>
      <div style="width:300px;"><span style="background-color: #ead1dc; width:60px; height:30px;display:inline-block"></span>
       <span>light magenta 3 #ead1dc  </span></div>
      <div style="width:300px;"><span style="background-color: #d5a6bd; width:60px; height:30px;display:inline-block"></span>
       <span>light magenta 2 #d5a6bd  </span></div>
      <div style="width:300px;"><span style="background-color: #c27ba0; width:60px; height:30px;display:inline-block"></span>
       <span>light magenta 1 #c27ba0  </span></div>
      <div style="width:300px;"><span style="background-color: #000000; width:60px; height:30px;display:inline-block"></span>
       <span>dark magenta 1 #a64d79  </span></div>
      <div style="width:300px;"><span style="background-color: #000000; width:60px; height:30px;display:inline-block"></span>
       <span>dark magenta 2 #741b47  </span></div>
      <div style="width:300px;"><span style="background-color: #000000; width:60px; height:30px;display:inline-block"></span>
       <span>dark magenta 3 #4c1130  </span></div>
    </td>
  </tr>
  </tbody>
</table>
{% endblock %}