@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --font-basic: 'Noto Sans KR', sans-serif, serif ;
  --font-header: 'Roboto', 'Noto Sans KR', sans-serif;
  --text-sm: 12px;
  --transition: 0.4s ease-in-out;
  --shadow: gray 0px 0px 10px 0px;
  --navbar-bg: cornflowerblue;
  --navbar-color: rgb(253, 254, 255);
  --subbar-bg :rgb(156, 189, 252);
  --bg-shadow: rgb(0, 102, 105) 0px 0px 5px;
}
body {
  font-family: var(--fontbasic);
  height: 100%;
  position: relative;
}
/* ======== main menu ========== */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 4px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 4px 14px;
  border-bottom: 1px solid #444;
  background-color: white;
}

.navbar-btn, .user-menu li a{
  border: none;
  padding: 3px 9px;
  border-radius: 4px;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
}
.navbar-btn a, .navbar-btn a:any-link {
  font-family: var(--font-header);
  font-size: 0.9rem;
  font-weight: 800;
  text-decoration: none;
  color: rgb(24, 24, 24);
}
.navbar-btn a:hover, .user-menu li a:hover{
  color: #999;
  transition: all 0.3s ease-in-out;
}

.user-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 3px; */
}

.user-menu a {
  text-decoration: none;
  font-size: 0.8rem;
  font-family:'Lucida Sans Regular',Verdana, sans-serif;
  font-weight: 600;
  padding: 3px;
}
.user-menu a:any-link {
  color: #111;
  text-decoration: none;
}

/* ========= sub menu =========== */
.sub-menu {
  position: relative;
  margin-top: 2.4rem;
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sub-menu a {
  display: inline-block;
  /* min-width: 90px; */
  text-align: center;
  font-size: 0.84rem; 
  font-weight: 600;
  padding: 3px 9px;
  text-decoration: none;
  cursor: pointer;
}
.sub-menu a:any-link {
  color: #111;
  text-decoration: none;
}
.sub-menu a:hover {
  color: #999;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.sub-menu > ul{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 6px;
  width: auto;
  margin:0;
  padding: 2px 10px;
  list-style-type: none;
  font-family: 'Roboto', 'Noto Sans KR',sans-serif ;
}
.sub-menu > ul li{
  position: relative;
  margin:0; padding:0;
}

.sub-menu > ul li ul {
  display:none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 52%;
  transform: translateX(-50%);
  list-style-type: none;
  width: 100%;
  background-color: white;
  border-right: #eee solid 1px;
  border-bottom: #eee solid 1px;
  border-left: #fafafa solid 1px;
  border-radius: 0 0 4px 4px;
  margin:0; 
  padding:0;
  min-width: 120px;
  box-shadow: #999 2px 2px 0px 0px;
}

.sub-menu > ul li:hover ul{
  display:flex;
}

.sub-menu > ul li ul li{
  padding: 0 6px;
}
.sub-menu > ul li ul li a {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 0.8rem;
  font-family: 'Noto Sans KR', serif;
  cursor: pointer;
  width: 100%;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin:0; padding:3px 0 0 0;
  text-decoration: none;
}

header, h1 {
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  font-family: var(--font-header);
  padding-bottom: 4px;
  border-bottom: 1px solid #444;
  width: 90%;
  margin: 6px auto 0 auto;
}
main {
  padding: 6px 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Noto Sans KR',sans-serif ;
  margin: 8px 0 6px 0;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  /* border-bottom: 3px solid var(--subbar-bg); */
  padding-bottom: 4px;
}
h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color:rgb(1, 1, 173);
}
h4 {
  font-size: 1.2rem;
  color:midnightblue;
  font-weight: 600;
}
h5 {
  font-size: 1.1rem;
  color:rgb(28, 28, 255);
  font-weight: 600;
}
h5::before {
  content: '• ';
  color: rgb(146, 39, 0);
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
  font-weight: 400;
  margin: 8px 0;
}
pre, xmp {
  font-family: 'consolas', 'courier new', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  /* background-color: #fcfcfc; */
  padding: 8px 12px;
  margin: 10px 0;
  border-left: 1px solid rgb(212, 212, 212);
  line-height: 1.5;
  white-space: pre-wrap; word-break: break-all; overflow: auto;
}
.curr-url {
  border-bottom: 1px solid #666;
  /* border-radius: 0 0 2px 2px; */
}
.navbar-btn.curr-url {
  border-bottom: none;
  border-top: 1px solid #666;
  border-radius: 0;
}