<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/backup/loadScript.js"></script>

</head>
<body>
<main>
  <h1>매뉴얼과 명세서 등</h1>
  <section>
    <h2>명세서</h2>
    <p>ECMA-262명세서는 새로운 버전이 매년 나옵니다. 공식 버전이 나오기 이전의 최신 초안은 <a href="https://tc39.es/ecma262/">https://tc39.es/ecma262/</a>에서 확인할 수 있습니다.</p>
  </section>
  <section>
    <h2>메뉴얼</h2>
    <p>모질라 재단이 운영하는 MDN JavaScript Reference에 함수나 메서드에 정보를 제공</p>
    <p>링크 <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference</a></p>
    <p>검색 방법 : https://google.com/search?q=MDN+parseInt </p>
  </section>
  <section>
    <h2>호환표</h2>
    <p>브라우저에서의 엔진에서 지원여부</p>
    <ul>
      <li>http://caniuse.com 에선 브라우저가 특정 기능을 지원하는지 (표 형태로) 확인할 수 있습니다. 암호화 관련 기능인 cryptography를 특정 브라우저에서 사용할 수 있는지 아닌지를 보려면 http://caniuse.com/#feat=cryptography를 확인하면 됩니다.</li>
      <li>https://kangax.github.io/compat-table 에선 자바스크립트 기능 목록이 있고, 해당 기능을 특정 엔진이 지원하는지 여부를 거대한 표를 통해 보여줍니다.</li>
    </ul>
  </section>
</main>
</body>
</html>