{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome to the Blog{% endblock %}</h1>
{% if g.user %}
    <a class="action" href="/create">New</a>
{% endif %}
{% endblock %}
  
{% block content %}
  {% for blog in blogs %}
    <article class="blog">
      <header>
        <div>
          <h1>{{ blog['title'] }}</h1>
          <div class="about">by {{ blog['username'] }} on {{ blog['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == blog['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=blog['id']) }}">Edit</a>
          <a class="action" href="{{ url_for('blog.delete', id=blog['id']) }}">Delete</a>
        {% endif %}
      </header>
      <p class="body">{{ blog['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}