@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --fontstack: 'Noto Sans KR', sans-serif;
  --colorprimary:black;
  --colorsecondary: white;
  --coloraccent: #712cf9;
  --colorgray:#777;
  --colorbright:#f1f1f1;
  --colorbrightest:#fafafa;
  --h1: 24px;
  --h2: 20px;
  --h3: 17px;
  --h4: 16px;
  --p: 16px;
  --subtext: 12px;
  --transition: 0.4s ease-in-out;
  --shadow: #00000030 0px 0px 10px 0px;
  --shadowdark: #00000030 0px 5px 10px 5px;
}
body {
  font-family: var(--fontstack), serif ;
  height: 100%;
  position: relative;
}

main {
  padding: 40px 5px 0 206px;
  overflow: auto;
  margin:0 0 40px 0;
  height: auto;
  min-height: calc(100vh - 73px);
  /*min-height: 100vh;*/
}
section {
  margin: 6px 2px;
  padding: 0 10px 10px 10px;
  border-right: var(--colorbright) solid 2px;
  border-left: var(--colorbright) solid 2px;
  border-top: var(--colorgray) solid 1px;
  border-bottom: var(--colorgray)  dotted 1px;
  background: var(--colorsecondary);
}
footer {
  width: 100%;
  padding: 0 20px;
  position : absolute;
  background: var(--colorgray);
  color: var(--colorsecondary);
}
h1 {
  font-size: var(--h1);
  margin: 10px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline;
}

h2, h3, h4, h5, h6 {
  font-weight: bolder;
  margin: 7px 0;
  text-align: left;
}
h2 {
  font-size: var(--h2);
}
h2:before {
  content: "◼";
  padding-right: 8px;
  color: var(--coloraccent);
}
h3 {
  font-size: var(--h3);
  margin: 7px 0 0 10px;
  font-weight: normal;
}
h3:before {
  content: "◾";
  padding-right: 8px;
  color: var(--coloraccent);
}
h4, h5, h6  {
  font-size: var(--h4);
  font-weight: normal;
  margin: 7px 0 0 20px;
}
h4:before {
  content: "▸ ";
  padding-left: 8px;
  color: #bd0000;
}
h5, h6 {font-size: var(--p)}
h5:before {
  content: " ▫ ";
  padding-left: 18px;
  color: #0021dc;
}
.linebreak {
  white-space: pre-wrap;
}
p {
  line-height: 1.6;
  font-size: var(--p);
  padding-left: 6px;
  font-family: var(--fontstack), serif;
}

code, pre {
  font-family: "consolas",'Noto Sans KR', monospace;
  line-height: 1.6;
  background: var(--colorbrightest);
  padding: 3px 9px;
  margin: 3px 0 0 10px;
  width: 98%;
  font-size: 15px;
}
code {
  font-size: inherit;
  padding: 0;margin:0;
}
pre {
  border-top: 0.2px dotted #aaa;
  border-bottom: 0.2px dotted #aaa;
}
table {
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  border: 1px solid var(--colorbright);
  border-collapse: collapse;
  font-size: var(--p);
  width: 100%;
  margin: 4px;
}
tr, td, th {
  border: 1px solid var(--colorbright);
  border-collapse: collapse;
}
/* ====== nav menu ====== */
#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-color: var(--coloraccent);
  color: var(--colorsecondary);
  box-shadow: var(--shadowdark);
  z-index: 100;
}
.navBtn, .footerBtn {
  background: var(--colorbright);
  color: var(--coloraccent);
  margin-right: 20px;
}
.navBtn:hover, .footerBtn:hover {
  background: #dddddd;
  cursor: pointer;
}
#navbar ul {
  display: flex;
}
.navbar li {
  cursor: pointer;
  list-style: none;
  margin:0;
}
.navbar li a {
  display: inline-block;
  cursor: pointer;
  list-style: none;
  padding: 10px 20px;
}
.navbar a, .navbar a:visited, .navbar a:link {
  text-decoration: none;
  color: var(--colorsecondary);
}
.navbar li a:hover {
  background-color: var(--colorbright);
  color: black;
}
/* #### aside menu #### */
.aside {
  position: fixed;
  top: 30px;
  display: flex;
  flex-direction: column;
  width: 200px;
  box-shadow: var(--shadow);
  padding: 18px 0 10px 0;
  height: 100%;
  overflow-y: auto;
  transition: var(--transition);
}
.aside .title {
  font-size: var(--h2);
  font-weight: bolder;
  color: #fefefe;
  background-color: #333;
  text-align: center;
  padding: 8px 0;
  margin:0 ;
  font-family: var(--fontstack), serif;
  width:100%;
}
.aside > ul {
  display: flex;
  flex-direction: column;
  padding: 6px;
  margin-left: 0;
}
.aside > ul h2 {
  font-size: 18px;
  padding:6px 0; margin:0;
}
.aside > ul h2:before {
  content: "";
}
.aside ul > li {
  list-style: none;
  padding: 0;
  margin:0;
}
.aside ul li:hover {
  background-color: var(--colorbright);
  cursor: pointer;
}
.aside ul li ul {
  padding: 4px;
  margin:0;
}
.aside .sub{
  color: var(--colorgray);
  padding: 3px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}
.aside .sub:hover{
  color: var(--coloraccent);
  cursor: pointer;
}
.aside .content {
  /*display: block;*/
  /*visibility: hidden;*/
  width: 100%;
  font-size: 15px;
}
.aside .content.active {
  display: none;
}
.aside .content a{
  margin-left: 4px;
  padding: 2px 4px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
}
.aside .content a:before {
  content: "▸ ";
}
.aside a:link,
.aside a:visited
{
  text-decoration: none;
  color: var(--coloraccent);
  font-weight: 400;
}

.aside .content:hover a{
  cursor: pointer;
  color: yellow;
  display: inline-block;
  background-color: var(--coloraccent);
}
.aside a.currentUrl {
  color : white;
  background :orangered;
}
/*footer style*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*etc style*/
hr {
  margin: 1rem 0;
  padding: 0;
  border: 1px dotted var(--coloraccent);
}
button, .btn, input {
  display: inline-block;
  padding: 4px 10px;
  border: none;
  background-color: var(--coloraccent);
  color: var(--colorsecondary);
  font-size: 16px;
  margin: 2px 0;
  border-radius: 4px;
}
input {
  background-color: var(--colorbright);
  color: var(--colorprimary);
  margin-left: 10px;
}
.todo {
  display:inline-block;
  font-size: 16px;
  padding: 4px 0 0 10px;
  width: 120px;
}
.testResult {
  font-weight: bold;
  color: var(--coloraccent);
}
/** 사이드메뉴 숨기기 관련*/
#hamburger {
  display: none;
}
#hamburger img {
  width: 40px;
  filter: invert(1);
}
#hamburger:hover img {
  cursor: pointer;
}
.aside.is-active {
  display: block;
  left: 60px;
  background-color: var(--colorbright);
}
@media screen and (max-width: 900px) {
  .aside { display: none; float: none;}
  main { display:block;
    width:96%;
    margin:0 auto;
    padding: 40px 5px 5px 5px;
    min-height: 94.2vh;
  }
  #hamburger {
    display: block;
    position: fixed;
    top: 60px; left: 10px;
    z-index: 1009;
    width: 40px;
    height: 40px;
  }
}