<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/backup/loadScript.js"></script>
</head>
<body>
<main>
  <h1>기본 사항</h1>
  <section>
    <h2>엄격 모드</h2>
    <p>코드 상단에 "use strict" 하면 ES5의 변경 사항을 활성화함</p>
    <h3>코드를 클래스와 모듈을 사용해 구성한다면 "use strict"를 생략해도 됩니다.</h3>
  </section>
  <section>
    <h2>변수 명명시 좋은 규칙</h2>
    <ul>
      <li>userName 이나 shoppingCart처럼 사람이 읽을 수 있는 이름</li>
      <li>무엇을 하고 있는지 명확히 알고 있지 않을 경우 외에는 줄임말이나 a, b, c와 같은 짧은 이름은 피하세요</li>
      <li>최대한 서술적이고 간결하게 명명해 주세요. data와 value는 나쁜 이름의 예시</li>
    </ul>
  </section>
  <section>
    <h3>주석 달기</h3>
    <pre>
    /**
    * x를 n번 곱한 수를 반환함
    *
    * @param {number} x 거듭제곱할 숫자
    * @param {number} n 곱할 횟수, 반드시 자연수여야 함
    * @return {number} x의 n 거듭제곱을 반환함
    */
    function pow(x, n) {
    ...
    } </pre>
  </section>
  <section>
    <h2>바벨</h2>
    <h3>바벨(Babel)은 트랜스파일러(transpiler)로, 모던 자바스크립트 코드를 구 표준을 준수하는 코드로 바꿔줍니다.</h3>
  </section>
</main>
</body>
</html>