{% extends 'base/auth_base.html' %}

{% block title %} MY Topic app {% endblock %}
{% block header %}
 Delete Blog
{% endblock %}

{% block content %}
<form action="/apps/blogs/{{ blog['id'] }}/delete" method="post" class="auth-form">
    <p style="margin-top: 2rem;">Are you sure you want to delete "{{ blog['title'] }}"?</p>
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    <a class="action" href="/apps/blogs/">cancel</a>
  </form>
{% endblock %}