<aside class="aside" id="board">
<h1 class="title">Board</h1>
  <ul id="sub-nav">
    <li class="sub-content"><h2>SBB basic</h2>
      <ul class="content-toggle" id="sbb-basic">
        <li class="content"><a href="/sbb/01-basic-page/sbb-intro">question index</a></li>
        <li class="content"><a href="/sbb/01-basic-page/01-question-list">question list</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>Service</h2>
      <ul class="content-toggle" id="sbb-service">
        <li class="content"><a href="/sbb/02-service/01-navbar">Nav bar</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>ETC</h2>
      <ul class="content-toggle" id="sbb-etc">
        <li class="content"><a href="/sbb/03-etc/01-start">set server</a></li>
      </ul>
    </li>
  </ul>
</aside>
<div id="hamburger"><img src="/images/threelines.webp" alt="three lines"></div>