<aside class="aside" id="java">
<h1 class="title">JAVA</h1>
  <ul id="sub-nav">
    <li class="sub-content"><h2>java 기본</h2>
      <ul class="content-toggle" id="java-intro">
        <li class="content"><a href="/page/java/01-basic/00-sts-setting.html">STS설정</a></li>
        <li class="content"><a href="/page/java/01-basic/01-data-type.html">변수</a></li>
        <li class="content"><a href="/page/java/01-basic/02-if-for.html">조건문,반복문</a></li>
        <li class="content"><a href="/page/java/01-basic/03-array.html">배열</a></li>
        <li class="content"><a href="/page/java/01-basic/04-stream.html">Stream</a></li>
        <li class="content"><a href="/page/java/01-basic/05-enum.html">enum</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>객체지향</h2>
      <ul class="content-toggle" id="java-basic">
        <li class="content"><a href="/page/java/02-oop/01-oop-intro.html">OOP 기본</a></li>
        <li class="content"><a href="/page/java/02-oop/02-oop-1.html">OOP-2</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>Advanced</h2>
      <ul class="content-toggle" id="java-adv">
        <li class="content"><a href="/page/java/03-adv/01-Object.html">Object class</a></li>
        <li class="content"><a href="/page/java/03-adv/02-String.html">String class</a></li>
        <li class="content"><a href="/page/java/03-adv/03-StringBuffer.html">StringBuffer class</a></li>
        <li class="content"><a href="/page/java/03-adv/04-Math.html">Math class</a></li>
        <li class="content"><a href="/page/java/03-adv/05-LocalDateTime.html">java.time</a></li>
        <li class="content"><a href="/page/java/03-adv/06-Collection-fw1.html">Collection FW1</a></li>
        <li class="content"><a href="/page/java/03-adv/07-Collection-fw2.html">Collection FW2</a></li>
      </ul>
    </li>
  </ul>
</aside>
<div id="hamburger"><img src="/images/threelines.webp" alt="three lines"></div>