<aside class="aside" id="javascript">
  <h1 class="title">JS Core</h1>
  <ul id="sub-nav">
    <li class="sub-content"><h2>자바스크립트 개요</h2>
      <ul class="content-toggle" id="js-intro">
        <li class="content"><a href="/page/js/01-intro/01-start.html">About JavaScript</a></li>
        <li class="content"><a href="/page/js/01-intro/02-docs-env.html">매뉴얼과 명세서 등</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>자바스크립트 기본</h2>
      <ul class="content-toggle" id="js-basic">
        <li class="content"><a href="/page/js/02-basic/01-basic.html">기본 사항</a></li>
        <li class="content"><a href="/page/js/02-basic/02-data-type.html">자료형</a></li>
        <li class="content"><a href="/page/js/02-basic/03-basic-object.html">객체</a></li>
        <li class="content"><a href="/page/js/02-basic/04-type-transform.html">형변환</a></li>
        <li class="content"><a href="/page/js/02-basic/05-handle-string.html">문자 다루기</a></li>
        <li class="content"><a href="/page/js/02-basic/06-handle-array.html">배열 다루기</a></li>
        <li class="content"><a href="/page/js/02-basic/07-iterable.html">Symbol.iterator</a></li>
        <li class="content"><a href="/page/js/02-basic/08-map-set.html">map, set</a></li>
        <li class="content"><a href="/page/js/02-basic/09-destructuring-assignment.html">구조분해</a></li>
        <li class="content"><a href="/page/js/02-basic/10-date.html">Date</a></li>
        <li class="content"><a href="/page/js/02-basic/11-json.html">JSON</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>함수 심화학습</h2>
      <ul class="content-toggle" id="js-adv">
        <li class="content"><a href="/page/js/03-adv/01-recursion-stack.html">recursion, stack</a></li>
        <li class="content"><a href="/page/js/03-adv/02-rest-param-spread-syntax.html">나머지 매개변수</a></li>
        <li class="content"><a href="/page/js/03-adv/03-lexical.html">렉시컬 환경</a></li>
        <li class="content"><a href="/page/js/03-adv/04-setTimeout-Interval.html">setTimeout/Interval</a></li>
        <li class="content"><a href="/page/js/03-adv/05-call-apply.html">call,apply</a></li>
        <li class="content"><a href="/page/js/03-adv/06-bind.html">bind</a></li>
        <li class="content"><a href="/page/js/03-adv/07-arrow-func.html">arrow func</a></li>
        <li class="content"><a href="/page/js/03-adv/08-try-catch.html">try..catch</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2 style="text-overflow: ellipsis;">콜백/프라미스/async</h2>
      <ul class="content-toggle" id="js-promise">
        <li class="content"><a href="/page/js/04-callback/01-callback.html">callback</a></li>
        <li class="content"><a href="/page/js/04-callback/02-promise.html">promise</a></li>
        <li class="content"><a href="/page/js/04-callback/03-promise-chaining.html">promise chaining</a></li>
        <li class="content"><a href="/page/js/04-callback/04-promise-api.html">promise API</a></li>
        <li class="content"><a href="/page/js/04-callback/05-async-await.html">async, await</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>nework req.</h2>
      <ul class="content-toggle" id="js-net-request">
        <li class="content"><a href="/page/js/08-net-req/01-fetch.html">fetch</a></li>
        <li class="content"><a href="/page/js/08-net-req/02-formData-fetch.html">FormData fetch</a></li>
        <li class="content"><a href="/page/js/08-net-req/03-fetch-Abort.html">fetch Abort</a></li>
        <li class="content"><a href="/page/js/08-net-req/04-cors.html">CORS</a></li>
        <li class="content"><a href="/page/js/08-net-req/05-url-object.html">URL Objects</a></li>
        <li class="content"><a href="/page/js/08-net-req/06-XMLHttpRequest.html">XMLHttpRequest</a></li>
        <li class="content"><a href="/page/js/08-net-req/07-WebSocket.html">WebSocket</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2 style="font-size: 17px">Generator/module...</h2>
      <ul class="content-toggle" id="js-module-etc">
        <li class="content"><a href="/page/js/05-yield-module-etc/01-generator.html">Generator</a></li>
        <li class="content"><a href="/page/js/05-yield-module-etc/02-async-generator.html">async Generator</a></li>
        <li class="content"><a href="/page/js/05-yield-module-etc/03-module.html">모듈 소개</a></li>
        <li class="content"><a href="/page/js/05-yield-module-etc/04-proxy.html">proxy</a></li>
        <li class="content"><a href="/page/js/05-yield-module-etc/05-currying.html">currying</a></li>
        <li class="content"><a href="/page/js/05-yield-module-etc/06-bigint.html">BigInt</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>Object</h2>
      <ul class="content-toggle" id="js-obj">
        <li class="content"><a href="/page/js/06-object/01-js-object-intro.html">Object intro</a></li>
        <li class="content"><a href="/page/js/06-object/02-js-object-prototype.html">prototype</a></li>
        <li class="content"><a href="/page/js/06-object/03-js-inheritance.html">inheritance</a></li>
        <li class="content"><a href="/page/js/06-object/04-js-json.html">json</a></li>
        <li class="content"><a href="/page/js/06-object/04-js-json2.html">json2</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>Async</h2>
      <ul class="content-toggle" id="js-async">
        <li class="content"><a href="/page/js/07-async/01-js-async-intro.html">intro</a></li>
        <li class="content"><a href="/page/js/07-async/02-js-async-eventHandler.html">event</a></li>
        <li class="content"><a href="/page/js/07-async/03-js-promises.html">promises</a></li>
        <li class="content"><a href="/page/js/07-async/04-js-promises-ex.html">ex</a></li>
        <li class="content"><a href="/page/js/07-async/05-promises-multiple.html">promises multiple</a></li>
        <li class="content"><a href="/page/js/07-async/06-js-custom-promises.html">custom promise</a></li>
        <li class="content"><a href="/page/js/07-async/07-js-promise-api.html">api</a></li>
        <li class="content"><a href="/page/js/07-async/08-js-worker.html">woker</a></li>
      </ul>
    </li>
  </ul>
</aside>
<div id="hamburger"><img src="/images/threelines.webp" alt="three lines"></div>