<ul class="navbar">
  <li class="nav home"><a href="/index.html">HOME</a></li>
  <li class="nav board"><a href="/page/board/01-basic-page/sbb-intro.html">Board</a></li>
  <li class="nav javascript"><a href="/page/js/01-intro/01-start.html">JavaScript</a></li>
  <li class="nav html"><a href="/page/html/01-document/01-browser-env.html">HTML</a></li>
  <li class="nav java"><a href="/page/java/01-basic/01-data-type.html">JAVA</a></li>
  <li class="nav spring"><a href="/page/spring/00-setting/02-sts-setting.html">Spring</a></li>
  <li class="nav restapi"><a href="/page/restapi/01-basics/00-rest-spring-27-setting.html">Rest Api</a></li>
</ul>
<button class="navBtn">🔻</button>
