<aside class="aside" id="restapi">
  <h1 class="title">SPRING REST</h1>
  <ul id="sub-nav">
    <li class="sub-content"><h2>기본</h2>
      <ul class="content-toggle" id="rest-basic">
        <li class="content"><a href="/page/restapi/01-basics/00-rest-spring-27-setting.html">sb 2.7 설정</a></li>
        <li class="content"><a href="/page/restapi/01-basics/01-project-basic.html">기본</a></li>
      </ul>
    </li>

  </ul>
</aside>
<div id="hamburger"><img src="/images/threelines.webp" alt="three lines"></div>