<aside class="aside" id="spring">
  <h1 class="title">SPRING</h1>
  <ul id="sub-nav">
    <li class="sub-content"><h2>환경설정</h2>
      <ul class="content-toggle" id="spring-setting">
        <li class="content"><a href="/page/spring/00-setting/sbb-index.html">question index</a></li>
        <li class="content"><a href="/page/spring/00-setting/01-about-spring-boot.html">About spring boot</a></li>
        <li class="content"><a href="/page/spring/00-setting/02-sts-setting.html">STS설정</a></li>
        <li class="content"><a href="/page/spring/00-setting/03-cors-setting.html">CORS setting</a></li>
        <li class="content"><a href="/page/spring/00-setting/04-intellij-setting.html">IntelliJ setting</a></li>
        <li class="content"><a href="/page/spring/00-setting/99-cors-config-oldversion.html">cors old</a></li>
        <li class="content" hidden><a href="/page/spring/00-setting/sbb-index" >index</a></li>
      </ul>
    </li>


    <li class="sub-content"><h2>basics</h2>
      <ul class="content-toggle" id="spring-basics">
        <li class="content"><a href="/page/spring/01-basics/00-project-architecture.html">프로젝트 구조</a></li>
        <li class="content"><a href="/page/spring/01-basics/01-Controller.html">Controller</a></li>
        <li class="content"><a href="/page/spring/01-basics/02-JPA-db.html">JPA</a></li>
        <li class="content"><a href="/page/spring/01-basics/03-entity-db-mapping.html">Entity</a></li>
        <li class="content"><a href="/page/spring/01-basics/04-repository-basic.html">Repository About</a></li>
        <li class="content"><a href="/page/spring/01-basics/05-repository-crud.html">Repository-CRUD</a></li>
        <li class="content"><a href="/page/spring/01-basics/06-domain-categorize.html">Domain 구성</a></li>
        <li class="content"><a href="/page/spring/01-basics/07-templates.html">Templates 설정</a></li>
      </ul>
    </li>


    <li class="sub-content"><h2>1. Board basic</h2>
      <ul class="content-toggle" id="sprint-board-basic">
        <li class="content"><a href="/page/spring/02-board-basic-page/01-question-list.html">Question list</a></li>
        <li class="content"><a href="/page/spring/02-board-basic-page/02-service-intro.html">Service intro</a></li>
        <li class="content"><a href="/page/spring/02-board-basic-page/03-question-detail.html">Question Detail</a></li>
        <li class="content"><a href="/page/spring/02-board-basic-page/04-thymeleaf-style.html">Thymeleaf style</a></li>
        <li class="content"><a href="/page/spring/02-board-basic-page/05-question-create.html">Question 생성</a></li>
        <li class="content"><a href="/page/spring/02-board-basic-page/06-validation.html">Spring Validation</a></li>
      </ul>
    </li>


    <li class="sub-content"><h2>2. login,Paging</h2>
      <ul class="content-toggle" id="spring-board-advanced">
        <li class="content"><a href="/page/spring/03-board-advanced/01-nav-bar.html">Nav Bar</a></li>
        <li class="content"><a href="/page/spring/03-board-advanced/02-paging.html">Paging</a></li>
        <li class="content"><a href="/page/spring/03-board-advanced/03-board-detail.html">Paging templates</a></li>
        <li class="content"><a href="/page/spring/03-board-advanced/04-spring-security.html">spring security</a></li>
        <li class="content"><a href="/page/spring/03-board-advanced/05-user-subscribe.html">회원 가입</a></li>
        <li class="content"><a href="/page/spring/03-board-advanced/06-login-logout.html">Login/Logout</a></li>
      </ul>

    <li class="sub-content"><h2>3. 수정/삭제 등</h2>
      <ul class="content-toggle" id="spring-board-more">
        <li class="content"><a href="/page/spring/04-board-more/01-add-author.html">글쓴이 추가</a></li>
        <li class="content"><a href="/page/spring/04-board-more/02-edit-delete.html">수정, 삭제</a></li>
        <li class="content"><a href="/page/spring/04-board-more/03-like.html">좋아요 기능</a></li>
        <li class="content"><a href="/page/spring/04-board-more/04-anchor.html">앵커 기능</a></li>
        <li class="content"><a href="/page/spring/04-board-more/05-markdown.html">Markdown</a></li>
        <li class="content"><a href="/page/spring/04-board-more/06-search.html">검색기능</a></li>
      </ul>
    </li>

    <li class="sub-content"><h2>ETC</h2>
      <ul class="content-toggle" id="spring-board-etc">
        <li class="content"><a href="/page/spring/05-board-etc/01-additional-functions.html">추가 기능</a></li>
      </ul>
    </li>

    <li class="sub-content"><h2>JSP</h2>
      <ul class="content-toggle" id="spring-JSP">
        <li class="content"><a href="/page/spring/06-JSP/01-settings.html">jsp setting</a></li>
        <li class="content"><a href="/page/spring/06-JSP/02-start-jsp.html">start jsp</a></li>
        <li class="content"><a href="/page/spring/06-JSP/03-method-scriptlit.html">method script</a></li>
      </ul>
    </li>
  </ul>
</aside>
<div id="hamburger"><img src="/images/threelines.webp" alt="three lines"></div>