<aside class="aside" id="ui">
<h1 class="title">UI</h1>
  <ul id="sub-nav">
    <li class="sub-content"><h2>Board Basic</h2>
      <ul class="content-toggle" id="board-ui-question">
        <li class="content"><a href="/page/spring/ui/question/question_list">Question List</a></li>
        <li class="content"><a href="/page/spring/ui/question/question_detail">Question Detail</a></li>
        <li class="content"><a href="/page/spring/ui/question/create">Question Form</a></li>
        <li class="content" hidden><a href="/page/spring/ui/user/signup" hidden>회원 가입</a></li>
        <li class="content" hidden><a href="/page/spring/ui/user/login" hidden>login</a></li>
      </ul>
    </li>
    <li class="sub-content"><h2>Board Advanced</h2>
      <ul class="content-toggle" id="ui-advanced">
        <li class="content"><a href="/page/spring/ui/advanced/nav_bar">nav bar</a></li>
      </ul>
    </li>
  </ul>
</aside>
<div id="hamburger"><img src="/images/threelines.webp" alt="three lines"></div>