{% extends 'base/base.html' %}

{% block title %} greencenter {% endblock %}
{% block header %} 전체 홈페이지 내용 {% endblock %}
  
{% block content %}
<section> 
  <h2>python 내용 정리</h2>
  <p>version: 3.6.8(사무실 버젼)</p>
</section>
<section>
  <h2>Flask로 백엔드 구현</h2>
  <p>version: 0.12.5</p>
  <p>DB 연계는 psycopg2로 구현</p>
</section>
<section>
  <h2>Database</h2>
  <p>postgresql로 구현</p>
</section>
<section>
  <h2>java 내용 정리</h2>
  <p>Spring boot로 구현</p>
</section>
<section>
  <h2>javascript 내용 정리</h2>
  <h3>관련 내용은 JS Info, MDN 페이지를 참조함</h3>
  <ul>
    <li><a href="https://ko.javascript.info/">JS infor 페이지</a></li>
    <li><a href="https://developer.mozilla.org/ko/docs/Learn/HTML">MDN HTML 공부 페이지</a></li>
    <li><a href="https://developer.mozilla.org/ko/docs/Learn/CSS">MDN CSS 공부 페이지</a></li>
    <li><a href="https://developer.mozilla.org/ko/docs/Learn/JavaScript/">MDN JS 공부 페이지</a></li>
    <li><a href="https://developer.mozilla.org/ko/docs/Web/JavaScript/Reference/Global_Objects">
      JS 표준 내장 객체</a></li>
  </ul>
</section>



{% endblock %}