<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
<h1>브라우저 환경과 다양한 명세서</h1>
  <section>
    <h2>웹 브라우저 환경일 때 지원하는 것</h2>
    <a href="https://html.spec.whatwg.org">https://html.spec.whatwg.org</a><br>
    <a href="https://spec.whatwg.org">https://spec.whatwg.org</a>
    <p>검색:https://google.com?q=whatwg+localstorage, https://google.com?q=mdn+localstorage  </p>
  <pre>
window(브라우저 창을 대변함)
  - DOM: document, ...
  - BOM: navigator, screen, location, frames, history, XMLHttpRequest
  - JavaScript: Object, Array, Function, ...  </pre>
  </section>
  <section>
    <h2>문서 객체 모델: Document Object Model</h2>
    <h3>WHATWG의 DOM Living standard에서 관련 프로퍼티를 찾을 수 있음</h3>
  </section>
  <section>
    <h2>Browser Object Model, BOM</h2>
    <h3>브라우저와 운영체계에 대한 정보를 제공하는 navigator, 현재 URL을 알려주는 location이 있음</h3>
    <h3>alert, confirm, prompt는 BOM 임</h3>
  </section>
</main>
</body>
</html>