<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/menu/loadNav.js"></script>
</head>
<body>
<main>
<h1>DOM 탐색하기</h1>
  <h2>DOM 노드 관계도</h2>
  <pre style="line-height: 1.2">
                          document;
                              ↑
                   document.documentElement; // HTML
                              ↑
                      document.body; // HTML
--------------------------------------------------
                    parentNode/parentElement
                              ↑
previousSibling         <-- &lt;DIV> --->  nextSibling
/previousElementSibling               / nextElementSibling
                      ↓               ↓
              firstElementChild  lastElementChild
  </pre>
<section>
  <h2>childNodes, firstChild, lastChild</h2>
  <h3>children 은 요소 노드만 출력</h3>
  <pre>for (let elem of document.body.children) {
  alert(elem); // DIV, UL, DIV, SCRIPT
}</pre>
  <h3>childNodes 컬렉션은 텍스트 노드를 포함한 모든 자식 노드를 담고 있음.</h3>
  <h3>유사배열로 Array.from으로 변환해야 array method 사용 가능</h3>
  <h4>DOM 컬렉션은 읽는 것만 가능합니다.</h4>
  <h4>elem.childNodes를 참조하고 있는 도중에 DOM에 새로운 노드가 추가되거나 삭제되면,
      변경사항이 컬렉션에도 자동으로 반영</h4>
  <h4>컬렉션에 for..in 반복문을 사용하지 마세요</h4>
  <pre>for (let i = 0; i < document.body.childNodes.length; i++) {
  alert( document.body.childNodes[i] ); // Text, DIV, Text, UL, ... , SCRIPT
}
for (let node of document.body.childNodes) {
  alert( node ); // Text, DIV, Text, UL, ... , SCRIPT
}  </pre>
  <pre>Array.from(document.body.childNodes).filter </pre>
</section>
  <section>
    <h2>table 탐색</h2>
    <pre>let td = table.rows[0].cells[1];
td.style.backgroundColor = "red"; // 강조</pre>
    <h3>대각선 셀 구분하기</h3>
    <pre>let table = document.getElementsByTagName("table");
for (let i = 0; i < table.rows.length; i++) {
  let row = table.rows[i];
  row.cells[i].style.backgroundColor = 'red';
}</pre>
  </section>
</main>
</body>
</html>