table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #575656;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

th,
td {
  border: 1px solid #aaa;
  padding: 4px 6px;
  text-align: left;
}
td div {
  min-width: 250px;
}

td div span:first-child {
  display: inline-block;
  width:60px; 
  height:30px;
  padding-right: 6px;
}
tr th {
  text-align:center;
  background-color:var(--c-dark-gray);
  color:  #f0f0f0;
}